#wsite-title { 
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    /*color: #48382d; Dark blue background color*/
    color: #923b3b; /* Maroon background color*/ 
    text-shadow: 1px 1px 1px #f6f5f3;
    vertical-align: top;
    text-align: center;
    /*padding-right: 80px;*/
    padding-top: 30px;
    
}

header{
    background: /*#fbfaf9*/#556c8b  url(/static/images/logo-bg-blue.gif) repeat-x bottom;
    
}

#events-title {
    font-family: "Verdana", sans-serif;
    font-size 28px;
    text-shadow: 1px 1px 1px #f6f5f3;
    text-align: center;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #48382d;
    background: url(/static/images/footer-bg-blue.jpg) repeat;
 }
 


#nav-wrap {
    background: url(/static/images/nav-bg-blue.jpg) repeat-x top;
    min-height: 55px;
    
}

#OPS-logo-wrap  {
    top: 14px;
    padding-left: 30px;
}

#NHS-logo-wrap  {
    padding-top: 10px;
    padding-right: 30px;
}

#nav-container  {
    padding-top: 10px;
}

#nav-container li {
    font-family: Arial;
    text-transform: uppercase;
}

/*footer div{
    background: url(/static/images/nav-bg-blue.jpg) repeat-x bottom;
    border-bottom: 5px solid #556c8b;
    height: 55px;
}*/

#content {
    padding-top: 10px;
    background-color: white;
    min-height: 500px;
}

#footer {
    
    padding: 1rem;
    background: url(/static/images/nav-bg-blue.jpg) repeat-x bottom;
    border-bottom: 10px solid #556c8b;
    height: 55px;
    text-align: center;
}


.container {
    margin: 0 auto;
}