{% load staticfiles %}
<html>
    <head>
        <title>Okemos High School National Honor Society - Home</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
    </head>
     
    <div id="logo-wrap">
        <div class="container">
            <div id="wsite-title">Okemos High School National Honor Society</div>
        
        </div>
        
    </div>
    <div id="nav-wrap">
        
    </div>
    
    <div id="footer">
        <div style="position: absolute;  padding: .7rem; right: 0; bottom: 0; left: 0; color: ##556c8b; text-align: center;">
            <p>Okemos High School National Honors Society Official Event Page created by Mihir Upadhye</p>
        </div>
    </div>
    
    
    
</html>