{% load staticfiles %}
<html>
    <head>
        <title>Okemos High School National Honor Society - Home</title>
        <!--<link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">-->
        <style type="text/css">
            #wsite-title { 
                font-family: 'Montserrat', sans-serif;
                font-size: 34px;
                text-transform: uppercase;
                color: #48382d;
                text-shadow: 1px 1px 1px #f6f5f3;
                vertical-align: top;
                text-align: center;
            }
        </style>
    </head>
    <div>
        <div id="wsite-title">Okemos High School National Honor Society</div>
        
    </div>
    
    
    
</html>