{% load staticfiles %}
<html>
    <head>
        <title>Okemos High School National Honor Society - Home</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
    </head>
    <body class="container-fluid">
            
        
        <header class="row">
            <div class="col-xs-10">
                <div id="wsite-title">Okemos High School National Honor Society</div>
            
            </div>
            <div class="col-xs-2">
                <img src="{% static "images/nhsLogo.png" %}"></div>
            </div>
            
        </header>
        <div class="row">
            <div id="nav-wrap" class="col-xs-10">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    
                    
                    
                    
                    
                    <div class="container" id="nav-container">
                        <ul class="nav nav-justified">
                            <li class="active"><a href="{% url 'index' %}">Events</a></li>
                            <li><a href="#">Your Events</a></li>
                            <li><a href="#">Create An Event</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    
                    
                    
                </div><!-- /.navbar-collapse -->
            </div>
            
            <div class="col-xs-2" id="nav-wrap">
                <ul class="nav navbar-nav navbar-right" >
                     
                      <li class="dropdown">
                        <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 4px; margin-right:20px;"><span class="glyphicon glyphicon-user"></span> My Account<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">My Hours</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                            </ul>
                        </li>
                      </li>
                    </ul>
            </div>
            
        </div>
        <div class="row">
            <div  id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        <div class="row">
            <div id="footer" class="col-xs-12">
                <div>
                    Okemos High School National Honors Society Official Event Page
                </div>
            </div>
        </div>
        
        <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
        </script>
    </body>
    
    
    
</html>